* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

html {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

button {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	border: none;
	cursor: pointer;
}
